
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

REDIS_PASSWORD=redispass

TASKIQ_BROKER_URL=amqp://guest:guest@rabbitmq:5672
TASKIQ_BACKEND_URL=redis://:redispass@redis:6379/0

MINIO_ROOT_USER=your-user
MINIO_ROOT_PASSWORD=your-password
S3_URL=your-minio-host
S3_PORT=9000
