RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispass
REDIS_DB=0

MINIO_ROOT_USER=your-user
MINIO_ROOT_PASSWORD=your-password
S3_URL=your-minio-host
S3_PORT=9000
